.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}
.avatar:global(.__wab_instance) {
  max-width: 120%;
  position: relative;
  max-height: 120px;
  min-width: 120px;
  min-height: 120px;
  width: 120px;
  height: 120px;
  flex-shrink: 0;
}
.avataruploading:global(.__wab_instance) {
  display: none;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}
.svguploading {
  display: block;
}
.freeBox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  flex-direction: row;
  min-width: 0;
  display: none;
}
.freeBoxisError {
  display: flex;
}
.slotTargetErrorMessage {
  color: #e23e3e;
}
