.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  background: #30a46c80;
  min-width: 0;
  min-height: 0;
}
.authComponent:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
