@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-lZJeoU166: #e6e6e6;
  --plasmic-token-background: var(--token-lZJeoU166);
}

.plasmic_default_styles {
  --mixin-pVrHcN_vGC_font-family: "Inter";
  --mixin-pVrHcN_vGC_font-size: 16px;
  --mixin-pVrHcN_vGC_font-weight: 400;
  --mixin-pVrHcN_vGC_font-style: normal;
  --mixin-pVrHcN_vGC_color: #535353;
  --mixin-pVrHcN_vGC_text-align: left;
  --mixin-pVrHcN_vGC_text-transform: none;
  --mixin-pVrHcN_vGC_line-height: 1.5;
  --mixin-pVrHcN_vGC_letter-spacing: normal;
  --mixin-pVrHcN_vGC_white-space: pre-wrap;
  --mixin-pVrHcN_vGC_user-select: text;
  --mixin-pVrHcN_vGC_text-decoration-line: none;
  --mixin-pVrHcN_vGC_text-overflow: clip;
  --mixin-OM3jNWaPSB_color: #000000;
  --mixin-OM3jNWaPSB_font-weight: 900;
  --mixin-OM3jNWaPSB_font-size: 72px;
  --mixin-OM3jNWaPSB_line-height: 1;
  --mixin-OM3jNWaPSB_letter-spacing: -4px;
  --mixin-qVx-uKYC4W_font-family: "Inter";
  --mixin-qVx-uKYC4W_color: #000000;
  --mixin-qVx-uKYC4W_font-size: 48px;
  --mixin-qVx-uKYC4W_font-weight: 700;
  --mixin-qVx-uKYC4W_letter-spacing: -1px;
  --mixin-qVx-uKYC4W_line-height: 1.1;
  --mixin-XP_ICPj9Eg_color: #0070f3;
  --mixin-lyiG1lV8R0_font-family: "Inter";
  --mixin-lyiG1lV8R0_color: #000000;
  --mixin-lyiG1lV8R0_font-size: 32px;
  --mixin-lyiG1lV8R0_font-weight: 600;
  --mixin-lyiG1lV8R0_letter-spacing: -0.8px;
  --mixin-lyiG1lV8R0_line-height: 1.2;
  --mixin-hU5wrUXz8N_font-family: "Inter";
  --mixin-hU5wrUXz8N_color: #000000;
  --mixin-hU5wrUXz8N_font-size: 24px;
  --mixin-hU5wrUXz8N_font-weight: 600;
  --mixin-hU5wrUXz8N_letter-spacing: -0.5px;
  --mixin-hU5wrUXz8N_line-height: 1.3;
  --mixin-uZQnYkrOP8_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-uZQnYkrOP8_border-bottom-color: #dddddd;
  --mixin-uZQnYkrOP8_border-bottom-style: solid;
  --mixin-uZQnYkrOP8_border-bottom-width: 1px;
  --mixin-uZQnYkrOP8_border-left-color: #dddddd;
  --mixin-uZQnYkrOP8_border-left-style: solid;
  --mixin-uZQnYkrOP8_border-left-width: 1px;
  --mixin-uZQnYkrOP8_border-right-color: #dddddd;
  --mixin-uZQnYkrOP8_border-right-style: solid;
  --mixin-uZQnYkrOP8_border-right-width: 1px;
  --mixin-uZQnYkrOP8_border-top-color: #dddddd;
  --mixin-uZQnYkrOP8_border-top-style: solid;
  --mixin-uZQnYkrOP8_border-top-width: 1px;
  --mixin-uZQnYkrOP8_border-bottom-left-radius: 3px;
  --mixin-uZQnYkrOP8_border-bottom-right-radius: 3px;
  --mixin-uZQnYkrOP8_border-top-left-radius: 3px;
  --mixin-uZQnYkrOP8_border-top-right-radius: 3px;
  --mixin-uZQnYkrOP8_font-family: "Inconsolata";
  --mixin-uZQnYkrOP8_padding-bottom: 1px;
  --mixin-uZQnYkrOP8_padding-left: 4px;
  --mixin-uZQnYkrOP8_padding-right: 4px;
  --mixin-uZQnYkrOP8_padding-top: 1px;
  --mixin-ZgVnC_L6Uw_border-left-color: #dddddd;
  --mixin-ZgVnC_L6Uw_border-left-style: solid;
  --mixin-ZgVnC_L6Uw_border-left-width: 3px;
  --mixin-ZgVnC_L6Uw_color: #888888;
  --mixin-ZgVnC_L6Uw_padding-left: 10px;
  --mixin-ISAI4gZvVV_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ISAI4gZvVV_border-bottom-color: #dddddd;
  --mixin-ISAI4gZvVV_border-bottom-style: solid;
  --mixin-ISAI4gZvVV_border-bottom-width: 1px;
  --mixin-ISAI4gZvVV_border-left-color: #dddddd;
  --mixin-ISAI4gZvVV_border-left-style: solid;
  --mixin-ISAI4gZvVV_border-left-width: 1px;
  --mixin-ISAI4gZvVV_border-right-color: #dddddd;
  --mixin-ISAI4gZvVV_border-right-style: solid;
  --mixin-ISAI4gZvVV_border-right-width: 1px;
  --mixin-ISAI4gZvVV_border-top-color: #dddddd;
  --mixin-ISAI4gZvVV_border-top-style: solid;
  --mixin-ISAI4gZvVV_border-top-width: 1px;
  --mixin-ISAI4gZvVV_border-bottom-left-radius: 3px;
  --mixin-ISAI4gZvVV_border-bottom-right-radius: 3px;
  --mixin-ISAI4gZvVV_border-top-left-radius: 3px;
  --mixin-ISAI4gZvVV_border-top-right-radius: 3px;
  --mixin-ISAI4gZvVV_font-family: "Inconsolata";
  --mixin-ISAI4gZvVV_padding-bottom: 3px;
  --mixin-ISAI4gZvVV_padding-left: 6px;
  --mixin-ISAI4gZvVV_padding-right: 6px;
  --mixin-ISAI4gZvVV_padding-top: 3px;
  --mixin-nx2e05o0DR_display: flex;
  --mixin-nx2e05o0DR_flex-direction: column;
  --mixin-nx2e05o0DR_align-items: stretch;
  --mixin-nx2e05o0DR_justify-content: flex-start;
  --mixin-nx2e05o0DR_list-style-position: outside;
  --mixin-nx2e05o0DR_padding-left: 40px;
  --mixin-nx2e05o0DR_position: relative;
  --mixin-nx2e05o0DR_list-style-type: disc;
  --mixin-wS_iRU-HLlj_display: flex;
  --mixin-wS_iRU-HLlj_flex-direction: column;
  --mixin-wS_iRU-HLlj_align-items: stretch;
  --mixin-wS_iRU-HLlj_justify-content: flex-start;
  --mixin-wS_iRU-HLlj_list-style-position: outside;
  --mixin-wS_iRU-HLlj_padding-left: 40px;
  --mixin-wS_iRU-HLlj_position: relative;
  --mixin-wS_iRU-HLlj_list-style-type: decimal;
  --mixin-UVwk8EOIGin_font-family: "Inter";
  --mixin-UVwk8EOIGin_color: #000000;
  --mixin-UVwk8EOIGin_font-size: 20px;
  --mixin-UVwk8EOIGin_font-weight: 600;
  --mixin-UVwk8EOIGin_letter-spacing: -0.3px;
  --mixin-UVwk8EOIGin_line-height: 1.5;
  --mixin-oMi8Tob2nRx_font-family: "Inter";
  --mixin-oMi8Tob2nRx_color: #000000;
  --mixin-oMi8Tob2nRx_font-size: 16px;
  --mixin-oMi8Tob2nRx_font-weight: 600;
  --mixin-oMi8Tob2nRx_line-height: 1.5;
  --mixin-VCfDbIIoUvZ_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-pVrHcN_vGC_font-family);
  font-size: var(--mixin-pVrHcN_vGC_font-size);
  font-weight: var(--mixin-pVrHcN_vGC_font-weight);
  font-style: var(--mixin-pVrHcN_vGC_font-style);
  color: var(--mixin-pVrHcN_vGC_color);
  text-align: var(--mixin-pVrHcN_vGC_text-align);
  text-transform: var(--mixin-pVrHcN_vGC_text-transform);
  line-height: var(--mixin-pVrHcN_vGC_line-height);
  letter-spacing: var(--mixin-pVrHcN_vGC_letter-spacing);
  white-space: var(--mixin-pVrHcN_vGC_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-OM3jNWaPSB_color);
  font-weight: var(--mixin-OM3jNWaPSB_font-weight);
  font-size: var(--mixin-OM3jNWaPSB_font-size);
  line-height: var(--mixin-OM3jNWaPSB_line-height);
  letter-spacing: var(--mixin-OM3jNWaPSB_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-qVx-uKYC4W_font-family);
  color: var(--mixin-qVx-uKYC4W_color);
  font-size: var(--mixin-qVx-uKYC4W_font-size);
  font-weight: var(--mixin-qVx-uKYC4W_font-weight);
  letter-spacing: var(--mixin-qVx-uKYC4W_letter-spacing);
  line-height: var(--mixin-qVx-uKYC4W_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-XP_ICPj9Eg_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-lyiG1lV8R0_font-family);
  color: var(--mixin-lyiG1lV8R0_color);
  font-size: var(--mixin-lyiG1lV8R0_font-size);
  font-weight: var(--mixin-lyiG1lV8R0_font-weight);
  letter-spacing: var(--mixin-lyiG1lV8R0_letter-spacing);
  line-height: var(--mixin-lyiG1lV8R0_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-hU5wrUXz8N_font-family);
  color: var(--mixin-hU5wrUXz8N_color);
  font-size: var(--mixin-hU5wrUXz8N_font-size);
  font-weight: var(--mixin-hU5wrUXz8N_font-weight);
  letter-spacing: var(--mixin-hU5wrUXz8N_letter-spacing);
  line-height: var(--mixin-hU5wrUXz8N_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-uZQnYkrOP8_background);
  font-family: var(--mixin-uZQnYkrOP8_font-family);
  border-radius: var(--mixin-uZQnYkrOP8_border-top-left-radius)
    var(--mixin-uZQnYkrOP8_border-top-right-radius)
    var(--mixin-uZQnYkrOP8_border-bottom-right-radius)
    var(--mixin-uZQnYkrOP8_border-bottom-left-radius);
  padding: var(--mixin-uZQnYkrOP8_padding-top)
    var(--mixin-uZQnYkrOP8_padding-right) var(--mixin-uZQnYkrOP8_padding-bottom)
    var(--mixin-uZQnYkrOP8_padding-left);
  border-top: var(--mixin-uZQnYkrOP8_border-top-width)
    var(--mixin-uZQnYkrOP8_border-top-style)
    var(--mixin-uZQnYkrOP8_border-top-color);
  border-right: var(--mixin-uZQnYkrOP8_border-right-width)
    var(--mixin-uZQnYkrOP8_border-right-style)
    var(--mixin-uZQnYkrOP8_border-right-color);
  border-bottom: var(--mixin-uZQnYkrOP8_border-bottom-width)
    var(--mixin-uZQnYkrOP8_border-bottom-style)
    var(--mixin-uZQnYkrOP8_border-bottom-color);
  border-left: var(--mixin-uZQnYkrOP8_border-left-width)
    var(--mixin-uZQnYkrOP8_border-left-style)
    var(--mixin-uZQnYkrOP8_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-ZgVnC_L6Uw_color);
  padding-left: var(--mixin-ZgVnC_L6Uw_padding-left);
  border-left: var(--mixin-ZgVnC_L6Uw_border-left-width)
    var(--mixin-ZgVnC_L6Uw_border-left-style)
    var(--mixin-ZgVnC_L6Uw_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-ISAI4gZvVV_background);
  font-family: var(--mixin-ISAI4gZvVV_font-family);
  border-radius: var(--mixin-ISAI4gZvVV_border-top-left-radius)
    var(--mixin-ISAI4gZvVV_border-top-right-radius)
    var(--mixin-ISAI4gZvVV_border-bottom-right-radius)
    var(--mixin-ISAI4gZvVV_border-bottom-left-radius);
  padding: var(--mixin-ISAI4gZvVV_padding-top)
    var(--mixin-ISAI4gZvVV_padding-right) var(--mixin-ISAI4gZvVV_padding-bottom)
    var(--mixin-ISAI4gZvVV_padding-left);
  border-top: var(--mixin-ISAI4gZvVV_border-top-width)
    var(--mixin-ISAI4gZvVV_border-top-style)
    var(--mixin-ISAI4gZvVV_border-top-color);
  border-right: var(--mixin-ISAI4gZvVV_border-right-width)
    var(--mixin-ISAI4gZvVV_border-right-style)
    var(--mixin-ISAI4gZvVV_border-right-color);
  border-bottom: var(--mixin-ISAI4gZvVV_border-bottom-width)
    var(--mixin-ISAI4gZvVV_border-bottom-style)
    var(--mixin-ISAI4gZvVV_border-bottom-color);
  border-left: var(--mixin-ISAI4gZvVV_border-left-width)
    var(--mixin-ISAI4gZvVV_border-left-style)
    var(--mixin-ISAI4gZvVV_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-nx2e05o0DR_display);
  flex-direction: var(--mixin-nx2e05o0DR_flex-direction);
  align-items: var(--mixin-nx2e05o0DR_align-items);
  justify-content: var(--mixin-nx2e05o0DR_justify-content);
  list-style-position: var(--mixin-nx2e05o0DR_list-style-position);
  padding-left: var(--mixin-nx2e05o0DR_padding-left);
  position: var(--mixin-nx2e05o0DR_position);
  list-style-type: var(--mixin-nx2e05o0DR_list-style-type);
  flex-column-gap: var(--mixin-nx2e05o0DR_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-wS_iRU-HLlj_display);
  flex-direction: var(--mixin-wS_iRU-HLlj_flex-direction);
  align-items: var(--mixin-wS_iRU-HLlj_align-items);
  justify-content: var(--mixin-wS_iRU-HLlj_justify-content);
  list-style-position: var(--mixin-wS_iRU-HLlj_list-style-position);
  padding-left: var(--mixin-wS_iRU-HLlj_padding-left);
  position: var(--mixin-wS_iRU-HLlj_position);
  list-style-type: var(--mixin-wS_iRU-HLlj_list-style-type);
  flex-column-gap: var(--mixin-wS_iRU-HLlj_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-UVwk8EOIGin_font-family);
  color: var(--mixin-UVwk8EOIGin_color);
  font-size: var(--mixin-UVwk8EOIGin_font-size);
  font-weight: var(--mixin-UVwk8EOIGin_font-weight);
  letter-spacing: var(--mixin-UVwk8EOIGin_letter-spacing);
  line-height: var(--mixin-UVwk8EOIGin_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-oMi8Tob2nRx_font-family);
  color: var(--mixin-oMi8Tob2nRx_color);
  font-size: var(--mixin-oMi8Tob2nRx_font-size);
  font-weight: var(--mixin-oMi8Tob2nRx_font-weight);
  line-height: var(--mixin-oMi8Tob2nRx_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-VCfDbIIoUvZ_color);
}
